Repository NachoBTL/rig: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write, eslint --fix --no-warn-ignored

(calendar-poc): Creating Datepicker
  package-lock.json
  package.json
  src/App.css
  src/App.tsx
  src/components/DatePickerDesign.tsx
  src/components/Datepicker.css
  src/components/Datepicker.tsx
  src/components/DatepickerDesign.css
  src/index.css
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

Change react version and type. Add ui-radix library and theme.
  package-lock.json
  package.json
  src/App.tsx
  src/index.css
  src/main.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

Cleaning project and downgrading react version
  package-lock.json
  package.json
  src/App.css
  src/App.tsx
  src/index.css
  vite.config.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write, eslint --fix --no-warn-ignored

Adding current libraries
  package-lock.json
  package.json
  src/assets/react.svg
  src/components/DatePickerDesign.tsx
  src/components/Datepicker.css
  src/components/Datepicker.tsx
  src/components/DatepickerDesign.css
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

Setting up the environment for tests
  eslint.config.js
  package-lock.json
  package.json
  tests/setup.ts
  tsconfig.json
  vitest.config.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

Adding husky config
  .husky/pre-commit
  tests/components/App.test.tsx
  vitest.config.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

atomic:design
  package-lock.json
  package.json
  src/ui/atoms/Button.module.css
  src/ui/atoms/Button.tsx
  src/ui/atoms/Input.module.css
  src/ui/atoms/Input.tsx
  src/ui/atoms/Text.module.css
  vite.config.ts
  vitest.config.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write, eslint --fix --no-warn-ignored

Icon component
  package-lock.json
  package.json
  src/App.tsx
  src/assets/icons/alert-user.svg
  src/assets/icons/boat.svg
  src/assets/icons/box.svg
  src/assets/icons/boxes-truck.svg
  src/assets/icons/business-climb-top.svg
  src/assets/icons/business-contract-approve.svg
  src/assets/icons/business-deal-handshake-circle.svg
  src/assets/icons/cash-shield.svg
  src/assets/icons/face-id.svg
  src/assets/icons/fire.svg
  src/assets/icons/flash.svg
  src/assets/icons/headphones-customer-support.svg
  src/assets/icons/login-keys.svg
  src/assets/icons/messages-people-bubble.svg
  src/assets/icons/plane.svg
  src/assets/icons/shield-star.svg
  src/assets/icons/shield.svg
  src/assets/icons/smiley-happy.svg
  src/assets/icons/target-center.svg
  src/assets/icons/truck.svg
  src/assets/icons/twist.svg
  src/ui/atoms/Icon.tsx
  vite.config.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write, eslint --fix --no-warn-ignored

atomic-design: Integrando DatePicker
  package-lock.json
  package.json
  src/App.tsx
  src/hooks/use-date-picker.ts
  src/main.tsx
  src/ui/atoms/Button.module.css
  src/ui/atoms/Button.tsx
  src/ui/atoms/Input.tsx
  src/ui/atoms/Text.module.css
  src/ui/molecules/container.module.css
  src/ui/molecules/container.tsx
  src/ui/molecules/date-picker.module.css
  src/ui/molecules/date-picker.tsx
  src/ui/molecules/input-icon.module.css
  src/ui/molecules/input-icon.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

Creating popover component
  package.json
  src/App.tsx
  src/ui/atoms/Popover.module.css
  src/ui/atoms/Popover.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

Moving popover
  src/App.tsx
  src/ui/molecules/Popover.module.css
  src/ui/molecules/Popover.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

Adding Icon component
  src/App.tsx
  src/ui/atoms/Icon.tsx
  vite.config.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write, eslint --fix --no-warn-ignored

Updating package-lock
  package-lock.json
Due: prettier --write

atomic-design: Improving DatePicker
  src/hooks/use-date-picker.ts
  src/main.tsx
  src/ui/molecules/input-icon.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

Dropdown component
  package-lock.json
  package.json
  src/App.tsx
  src/ui/molecules/DropdownMenu.module.css
  src/ui/molecules/DropdownMenu.tsx
  src/ui/molecules/DropdownMenuItem.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

Header and Footer Layout
  src/App.tsx
  src/assets/img/logo.svg
  src/main.tsx
  src/ui/molecules/container.module.css
  src/ui/molecules/container.tsx
  src/ui/organisms/Footer/Footer.tsx
  src/ui/organisms/Footer/footer.constants.ts
  src/ui/organisms/Header/Header.tsx
  src/ui/organisms/Header/HeaderMenuLeft.tsx
  src/ui/organisms/Header/HeaderMenuRight.tsx
  src/ui/organisms/Header/header.constants.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

Fix test
  src/App.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

Path conditions:
  eslint --fix --max-warnings=0 --no-warn-ignored: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,html,css,scss})) or (any of: vite.config.ts)
  eslint --fix --no-warn-ignored: any of: vite.config.ts
